## 第2章: UNIXコマンド
popular-names.txtは，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

In [1]:
filename = "popular-names.txt"

### 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

In [2]:
with open(filename) as f:
    print(len(f.readlines()))

2780

In [3]:
!wc -l popular-names.txt

    2780 popular-names.txt

### 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [4]:
with open(filename) as f:
    content = f.read()
    content2 = content.replace('\t', ' ')
    
print(content2[:100])

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret

In [5]:
!sed 's/\t/ /g' popular-names.txt | head -n 5

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [6]:
with open(filename) as f, open("col1.txt", "w") as col1, open("col2.txt", "w") as col2:
    lines = f.readlines()
    for line in lines:
        cols = line.split('\t')
        col1.write(cols[0]+'\n')
        col2.write(cols[1]+'\n')

In [7]:
! cat col1.txt | head -n 5
! cat col2.txt | head -n 5

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

In [8]:
!cut -f 1 < popular-names.txt | head -n 5
!cut -f 2 < popular-names.txt | head -n 5

Mary
Anna
Emma
Elizabeth
Minnie
F
F
F
F
F

### 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [9]:
with open("col1.txt", "r") as col1, open("col2.txt", "r") as col2, open("col1-2.txt", "w") as col1_2:
    lines1 = [l.strip('\n') for l in col1.readlines()]
    lines2 = [l.strip('\n') for l in col2.readlines()]
    # lines1_2 = [l1.join(l2,'\t') for l1 in lines1 for l2 in lines2]
    
    n = len(lines1)
    for i in range(n):
        col1_2.write(lines1[i]+'\t'+lines2[i]+'\n')

!cat "col1-2.txt" | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

In [10]:
!paste col1.txt col2.txt | head -n 5

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F

### 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [11]:
N = int(input())
with open(filename) as f:
    for i in range(N):
        line = f.readline().strip('\n')
        print(line)

 3

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

In [12]:
!cat popular-names.txt | head -n 3

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880

### 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [13]:
N = int(input())
with open(filename) as f:
    lines = [l.strip('\n') for l in f.readlines()]
    L = len(lines)
    for i in range(N):
        print(lines[L-N+i])

 3

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [14]:
!cat popular-names.txt | tail -n 3

Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

### 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [15]:
N = int(input())
with open(filename) as f:
    lines = [l.strip('\n') for l in f.readlines()]
    L = len(lines)
    lines_per_file = int(L/N)
    for i in range(N):
        with open(filename+"_part_"+str(i)+".txt", "w") as f_i:
            if i == N-1:
                f_i.write('\n'.join(lines[i*lines_per_file:]))
            else:
                f_i.write('\n'.join(lines[i*lines_per_file:(i+1)*lines_per_file-1]))

# for checking
for i in range(N):
    with open(filename+"_part_"+str(i)+".txt", "r") as f_i:
        print(f_i.readline())

 5

Mary	F	7065	1880

Joseph	M	3844	1907

John	M	47499	1935

Sandra	F	21619	1963

Samantha	F	25645	1991

In [16]:
!split -l 556 popular-names.txt

In [17]:
!cat xaa | head -n 1
!cat xab | head -n 1
!cat xac | head -n 1
!cat xad | head -n 1
!cat xae | head -n 1

Mary	F	7065	1880
Joseph	M	3844	1907
John	M	47499	1935
Sandra	F	21619	1963
Samantha	F	25645	1991

### 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

In [18]:
with open("col1.txt", "r") as col1:
    names = [l.strip('\n') for l in col1.readlines()]
    names_unique = list(set(names))
    names_unique.sort()

print(len(names_unique))
for i in range(10):
    print(names_unique[i])

136
Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [19]:
!cut -f 1 < popular-names.txt | sort | uniq | wc -l
!cut -f 1 < popular-names.txt | sort | uniq | head -n 10

     136
Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

### 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [20]:
with open(filename) as f:
    lines = [l.strip('\n').split('\t') for l in f.readlines()]
    lines.sort(reverse=True, key=(lambda x:int(x[2])))

for i in range(10):
    print('\t'.join(lines[i]))

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [21]:
!sort -nr -k 3 popular-names.txt | head -n 10

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [22]:
with open("col1.txt") as col1:
    lines = [l.strip('\n') for l in col1.readlines()]
    lines.sort()
    names_freq = dict()
    prev = lines[0]
    count = 0
    for line in lines:
        if line == prev:
            count += 1
        else:
            names_freq[prev] = count
            prev = line
            count = 1
    names_freq[line] = count
    names_freq_ord = {k:v for k, v in sorted(names_freq.items(), key=lambda item: item[1], reverse=True)}
    for name, freq in names_freq_ord.items():
        print(freq, name)

118 James
111 William
108 John
108 Robert
92 Mary
75 Charles
74 Michael
73 Elizabeth
70 Joseph
60 Margaret
58 George
58 Thomas
57 David
51 Richard
45 Helen
43 Christopher
43 Frank
41 Anna
40 Edward
39 Ruth
38 Patricia
37 Matthew
36 Dorothy
35 Emma
32 Barbara
31 Daniel
31 Joshua
26 Emily
26 Jennifer
26 Linda
26 Sarah
25 Jacob
25 Jessica
24 Betty
24 Mildred
24 Susan
23 Ashley
23 Henry
22 Nancy
21 Andrew
20 Amanda
20 Donald
20 Florence
20 Marie
19 Samantha
18 Karen
18 Lisa
18 Madison
18 Melissa
18 Olivia
17 Abigail
17 Stephanie
16 Ethel
16 Mark
16 Sandra
15 Angela
15 Carol
15 Ethan
15 Frances
15 Heather
15 Isabella
15 Michelle
14 Amy
14 Ava
14 Kimberly
14 Shirley
13 Brian
13 Deborah
13 Hannah
13 Jason
13 Nicole
13 Sophia
13 Virginia
12 Bertha
12 Donna
12 Minnie
11 Cynthia
10 Alice
10 Brittany
10 Doris
10 Mia
10 Nicholas
10 Noah
10 Ronald
9 Debra
9 Joan
9 Tyler
8 Alexander
8 Alexis
8 Clara
8 Ida
8 Judith
8 Mason
8 Taylor
7 Brandon
7 Harry
7 Liam
7 Sharon
7 Steven
7 Tammy
6 Anthony
5 Annie
5 Charlotte
5 Gary
5 Jayden
5 Jeffrey
4 Austin
4 Benjamin
4 Chloe
4 Justin
4 Kathleen
4 Lillian
3 Aiden
3 Elijah
3 Evelyn
3 Harper
3 Megan
2 Amelia
2 Bessie
2 Larry
2 Lauren
2 Logan
2 Oliver
2 Rebecca
1 Carolyn
1 Crystal
1 Julie
1 Kelly
1 Laura
1 Lori
1 Lucas
1 Pamela
1 Rachel
1 Scott
1 Tracy
1 Walter

In [23]:
!cut -f 1 < popular-names.txt | sort | uniq -c | sort -nr

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret
  58 Thomas
  58 George
  57 David
  51 Richard
  45 Helen
  43 Frank
  43 Christopher
  41 Anna
  40 Edward
  39 Ruth
  38 Patricia
  37 Matthew
  36 Dorothy
  35 Emma
  32 Barbara
  31 Joshua
  31 Daniel
  26 Sarah
  26 Linda
  26 Jennifer
  26 Emily
  25 Jessica
  25 Jacob
  24 Susan
  24 Mildred
  24 Betty
  23 Henry
  23 Ashley
  22 Nancy
  21 Andrew
  20 Marie
  20 Florence
  20 Donald
  20 Amanda
  19 Samantha
  18 Olivia
  18 Melissa
  18 Madison
  18 Lisa
  18 Karen
  17 Stephanie
  17 Abigail
  16 Sandra
  16 Mark
  16 Ethel
  15 Michelle
  15 Isabella
  15 Heather
  15 Frances
  15 Ethan
  15 Carol
  15 Angela
  14 Shirley
  14 Kimberly
  14 Ava
  14 Amy
  13 Virginia
  13 Sophia
  13 Nicole
  13 Jason
  13 Hannah
  13 Deborah
  13 Brian
  12 Minnie
  12 Donna
  12 Bertha
  11 Cynthia
  10 Ronald
  10 Noah
  10 Nicholas
  10 Mia
  10 Doris
  10 Brittany
  10 Alice
   9 Tyler
   9 Joan
   9 Debra
   8 Taylor
   8 Mason
   8 Judith
   8 Ida
   8 Clara
   8 Alexis
   8 Alexander
   7 Tammy
   7 Steven
   7 Sharon
   7 Liam
   7 Harry
   7 Brandon
   6 Anthony
   5 Jeffrey
   5 Jayden
   5 Gary
   5 Charlotte
   5 Annie
   4 Lillian
   4 Kathleen
   4 Justin
   4 Chloe
   4 Benjamin
   4 Austin
   3 Megan
   3 Harper
   3 Evelyn
   3 Elijah
   3 Aiden
   2 Rebecca
   2 Oliver
   2 Logan
   2 Lauren
   2 Larry
   2 Bessie
   2 Amelia
   1 Walter
   1 Tracy
   1 Scott
   1 Rachel
   1 Pamela
   1 Lucas
   1 Lori
   1 Laura
   1 Kelly
   1 Julie
   1 Crystal
   1 Carolyn